<h1>Customize your survey here</h1>

<div class="container">
  <a href="/question">View all questions</a>
  <p> </p>
  <a href="/question/new">Add a new question</a>
  <p> </p>
  <a href="/survey">Add a new survey</a>
  <p> </p>
  <a href="/question_assign">Add a question to a survey</a>
</div>
<br>
<p>&nbsp;</p>
