<form action="/question/new" method="post">
  <label for="question_text">Enter question prompt information</label>
  <input type="text" name="question_text">
  <button type="submit">Add</button>
</form>

<form class="form-inline" method="get" action="/">
      <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
</form>
